.webpage {
    background-color: #D8D8D8;
    padding: 5%;
    height: 600px;
    text-align: center;
}

.webpage-example {
    margin-top: 4%;
    float: left;
}

.webpage-code {
    margin-top: 4%;
    float: right;
}