.first-layer {
    animation: showup 5s;
    background-color: #E4E2E2;
    padding: 3%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling the for the profile paragraph and heading */
.profile-text {
    margin-top: 3%;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.profile-title {
    padding: 1%;
}

@keyframes showup {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 1;}
}

/* Styling for the profile picture */
.profile-pic {
    border-radius: 50%;
    float: left;
    height: 400px;
    width: 400px;
    margin: 5%;
}


/* Styling for profile pictures in smaller devices */
@media (max-width: 900px) {
    .profile-pic {
        height: 200px;
        width: 200px;
    }

    .profile-text {
        margin-top: 1.5%;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
    }

}

/* Styling for phones */
@media (max-width: 650px) {
    
    .profile-pic {
        height: 150px;
        width: 150px;
    }

    .profile-text {
        margin-top: 1.5%;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
    }

    .images {
        size: 200px;
    }
}
/* About me section (paragraph) */
.about-me {
    padding: 3%
}

/* Change styling for paragraph */
.about-me p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
}

/* Technology images */
.images {
    margin: 2%;
    padding: 2%;
}

/* Padding between images */
.images img {
    padding: 0.5%
}

