/* Second layer of homepage */
.ML {
    background-color: #ffffff;
    padding-bottom: 3%;
    padding-top: 5%;
    height: auto;  
    text-align: center;
}

/* Heading for the second layer of the homepage */
.ML h1{
    font-family: 'Times New Roman', Times, serif;
    padding: 1%;
    color: black;
    font-size: 65px;
}
