.projects-examples {
    background-color: #ffffff;
    padding-bottom: 15%;
    padding-top: 10%;
    height: auto;  
}

.projects-examples-header{
    font-family: 'Times New Roman', Times, serif;
    padding: 1%;
    color: black;
    font-size: 65px;
    text-align: center;
    margin-bottom: 3%;
}

.earSketch {
    background-color: #E4E2E2;
    margin-left: 10%;
    margin-top: 3%;
}

.test {
    float: right;
}