.highSchool {
    background-color:  #E4E2E2;
    padding-bottom: 18%;
    padding-top: 15%;
    text-align: center;
}

.highSchool-header {
    color: black;
    font-size: 75px;
}

.highSchool-paragraph {
    color: black;
    margin: 4%;
    font-size: 25px;
}