.uni {
    background-color: #3b82f6;
    padding: 5%;
    padding-bottom: 20%;
    text-align: center;
}

.uni-header {
    color: white;
    font-size: 75px;
}

.uni-paragraph {
    color: white;
    margin-top: 2%;
    font-size: 25px;
}