.pong {
    background-color: #E4E2E2;
    padding: 5%;
    height: 600px;
    text-align: center;
}

.game-picture {
    margin-top: 4%;
    float: left;
}

.game-code {
    margin-top: 4%;
    float: right;
}