/* Main styling */
.django {
    text-align: center;
    padding-bottom: 3%;
    padding-top: 5%;
    height: auto;  
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

/* Styling for images */
.djangoImages {
    margin: 2%;
}

.djangoImages img{
    padding: 5%;
    height: 300px;
    width: 450px;
}

.djangoInfo {
    font-size: 16px;
}

/* Change size of images depending on screen size */
@media (max-width: 1200px) {
    .djangoImages img {
        height: 200px;
        width: 225px;
    }
}


@media (max-width: 950px) {
    .djangoImages img {
        height: 200px;
        width: 225px;
    }
}

@media (max-width: 650px) {
    .djangoImages img {
        height: 150px;
        width: 175px;
    }
}