.Handwritten-project {
    background-color: #E4E2E2;
    padding: 5%;
    height: 575px;
    text-align: center;
}

.sample-code {
    margin-top: 4%;
    float: right;
}

.digit {
    margin-top: 4%;
    float: left;
}

.pictures {
    padding: 500%;
}